html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  background: #e6ecf0;
  width: 100%;
  min-height: calc(100vh - 61px);
}

.container:not(.__nuxt-error-page) {
  width: 70%;
  padding: 30px, 0;
  margin: 0 auto;
  min-height: calc(100vh - 61px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Element Utils */

.el-card {
  flex: 1;
  margin: 10px auto;
}

@media screen and (max-width: 594px) {
  .el-card {
    max-width: 375px;
    width: 100%;
  }
}

.el-transfer-panel {
  min-width: 380px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.el-transfer-panel__body {
  height: 250px;
}

.el-transfer__buttons {
  padding-top: 12px;
  padding-bottom: 12px;
}

.el-transfer-panel__list.is-filterable {
  height: 200px;
}

.el-message-box {
  width: 200px;
}

.el-dialog {
  min-width: 250px;
}

.el-dialog__header {
  min-width: 250px;
}

.el-dialog__body {
  min-width: 250px;
}

.el-dialog__footer {
  min-width: 250px;
}
